{% extends "base.html" %}
{% load static wagtailcore_tags i18n %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

      <!-- ===== Hero Start ===== -->
      <section class="pt-40 md:pt-45 xl:pt-50 mb-5 lg:mb-10 xl:mb-15 overflow-hidden">
        <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
          <div class="flex lg:items-center lg:gap-8 xl:gap-32.5">
            <div class="animate_left md:w-1/2">
              <h4 class="text-black dark:text-white text-lg font-medium mb-4.5">🛩 Asociación aeronáutica</h4>
              <h1 class="text-black dark:text-white text-3xl xl:text-hero font-bold mb-5">
                El  
                <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1">Aeroclub</span>
                de Barcelona
              </h1>

              <p>Siguiendo los pasos de nuestros pioneros, el Aeroclub Canudas es una entidad sin ánimo de lucro, registrada en el Departamento de Justicia de la Generalitat de Catalunya, con tres objetivos muy bien definidos:</p>

          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">01</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Conservar y difundir la historia aeronáutica</h5>
              <p>de nuestro país (conocer el pasado, para entender el presente y mejorar el futuro).</p>
            </div>
          </div>
          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Acercar la aviación al público</h5>
              <p>así como fomentar su uso y dinamizar el sector.</p>
            </div>
          </div>
          <div class="mt-7.5 flex items-center gap-5">
            <div class="w-15 h-15 rounded-[50%] border border-stroke dark:border-strokedark dark:bg-blacksection flex items-center justify-center">
              <p class="text-black dark:text-white font-semibold text-metatitle2">02</p>
            </div>
            <div class="w-3/4">
              <h5 class="text-black dark:text-white text-metatitle2 mb-0.5">Dar soporte a su colectivo</h5>
              <p>y mejorar la seguridad.</p>
            </div>
          </div>
              
<div class="mt-10">
    <form action="https://aeroclubcanudas.us21.list-manage.com/subscribe/post?u=1900bb9b4e592d65131ba33c2&amp;id=be6deb715c&amp;f_id=00e5f0e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
        <div class="flex flex-wrap gap-5">
            <!-- Email Input -->
            <input
                type="email"
                name="EMAIL"
                placeholder="Tu correo electrónico"
                class="dark:bg-black border border-stroke dark:border-strokedark shadow-solid-2 dark:shadow-none rounded-full focus:outline-none focus:border-primary dark:focus:border-primary py-2.5 px-6"
                required=""
            />
            <!-- Submit Button -->
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="flex bg-black hover:bg-blackho dark:bg-btndark text-white rounded-full ease-in-out duration-300 px-7.5 py-2.5">Recibir el newsletter</button>
        </div>
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <!-- Anti-spam Field -->
            <input type="text" name="b_1900bb9b4e592d65131ba33c2_be6deb715c" tabindex="-1" value="">
        </div>
    </form>
</div>
            </div>
            <div class="animate_right md:w-1/2 hidden lg:block">
              <div class="relative 2xl:-mr-7.5">
                <img src="{% static 'img/shape-01.png' %}" alt="shape" class="absolute -left-11.5 top-0" />
                <img src="{% static 'img/shape-02.svg' %}" alt="shape" class="absolute right-0 bottom-0" />
                <img src="{% static 'img/shape-03.svg' %}" alt="shape" class="absolute -right-6.5 bottom-0" />
                <div>
                  <img class="shadow-solid-l" src="{% static 'img/hero.webp' %}" alt="Hero" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ===== Hero End ===== -->

<section class="pt-20 lg:pt-25 xl:pt-30 overflow-hidden">
<div class="carousel h-[700px] w-full">
<div
  id="home-carousel"
  class="relative"
  data-te-carousel-init
  data-te-ride="carousel">
  <!--Carousel indicators-->
  <div
    class="absolute top-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0"
    data-te-carousel-indicators>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="0"
      data-te-carousel-active
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-current="true"
      aria-label="Slide 1"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="1"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 2"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="2"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
    <button
      type="button"
      data-te-target="#home-carousel"
      data-te-slide-to="3"
      class="mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none"
      aria-label="Slide 3"></button>
  </div>

  <!--Carousel items-->
  <div
    class="relative w-full overflow-hidden after:clear-both after:block after:content-['']">
    {% for image in carousel_images %}
    <div
      class="relative float-left -mr-[100%] {% if not forloop.first %}hidden{% endif %} w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
      data-te-carousel-item
      {% if forloop.first %}data-te-carousel-active{% endif %}>
      <img
        src="{{ image.image.file.url }}"
        class="block w-full max-h-full mx-auto object-contain object-center"
        alt="{{ image.image.title }}" />
    </div>
    {% endfor %}
  </div>

  <!--Carousel controls - prev item-->
  <button
    class="absolute bottom-0 left-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#home-carousel"
    data-te-slide="prev">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Previous</span
    >
  </button>
  <!--Carousel controls - next item-->
  <button
    class="absolute bottom-0 right-0 top-0 z-[1] flex w-[15%] items-center justify-center border-0 bg-none p-0 text-center text-white opacity-50 transition-opacity duration-150 ease-[cubic-bezier(0.25,0.1,0.25,1.0)] hover:text-white hover:no-underline hover:opacity-90 hover:outline-none focus:text-white focus:no-underline focus:opacity-90 focus:outline-none motion-reduce:transition-none"
    type="button"
    data-te-target="#home-carousel"
    data-te-slide="next">
    <span class="inline-block h-8 w-8">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </span>
    <span
      class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
      >Next</span
    >
  </button>
</div>
</div>
</section>

  <section class="mt-20 lg:mt-25 xl:mt30 overflow-hidden">
    <div class="mx-auto max-w-c-1235 px-4 md:px-8 xl:px-0">
      <div class="flex items-center gap-8 lg:gap-32.5">
        <div class="animate_left hidden md:block md:w-1/3">
          <img src="{% static 'img/aeroclub-canudas.webp' %}" alt="About" class="w-full" />
        </div>
        <div class="animate_right md:w-2/3">
          <h4 class="text-black dark:text-white font-medium uppercase">
            <span class="bg-meta text-white text-metatitle inline-flex rounded-full py-1 px-4.5 mr-4 mb-4">News</span> Creació de l'aeroclub
          </h4>
          <h2 class="relative font-bold text-black dark:text-white text-3xl xl:text-hero mb-6">
            Estimados amigos y amigas de la 
            <span class="py-2 inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg dark:before:bg-titlebgdark before:-z-1">aviación,</span>
          </h2>

          <p class="py-2">Estamos emocionados de presentar el nuevo Aeroclub Canudas, una entidad que nace con el espíritu y los valores que caracterizaron los inicios de la aviación catalana de principios del siglo XX. Esta nueva etapa, quiere continuar el impulso y la difusión de la aviación en Cataluña, tal y como hicieron nuestros antepasados, a los que queremos rendir homenaje y recordar en este espacio.</p>
          <p class="py-2">Nuestro aeroclub tiene como principal finalidad promover la pasión por la aviación entre los ciudadanos. Queremos fomentar la seguridad, formación y respeto por las tradiciones y el legado que nos dejó la generación pionera de aviadores. Nuestra meta es ofrecer un espacio de aprendizaje y de convivencia para los amantes de la aviación, tanto para pilotantes como para aficionados, mayores, jóvenes y pequeños. Así como en los inicios del siglo XX, queremos acercar la aviación al público en general, incentivar la creación de nuevos pilotos y fomentar la investigación y desarrollo en el campo de la aviación.</p>
          <p class="py-2">Queremos ser parte activa en el crecimiento y la modernización de la aviación en Cataluña, sin olvidarnos de nuestras raíces, y la historia que nos precede. Con este nuevo Aeroclub, esperamos crear una comunidad unida y apasionada que comparta el mismo amor por la aviación y el deseo de hacer crecer este maravilloso sector en nuestra tierra.
          <p class="py-2">Queremos organizar eventos, conferencias y actividades que enriquezcan el conocimiento y la diversión de todos los miembros. Estamos convencidos de que con el apoyo de todos vosotros, este nuevo aeroclub será un referente en la aviación catalana y un exponente de los valores y el espíritu que nos acompañaron en el pasado. Os invito a uniros a esta aventura y a formar parte de este proyecto que tanto amamos.</p>

        </div>
      </div>
    </div>
  </section>

      <section class="py-10 lg:py-15 xl:py-20">
        <div class="mx-auto max-w-c-1280 px-4 md:px-8 xl:px-0 mt-15 xl:mt-20">
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-7.5 xl:gap-10">
            <!-- Blog Item -->
            <div class="animate_top bg-white dark:bg-blacksection rounded-lg shadow-solid-8 p-4 pb-9">
              <a href="/historia" class="block">
                <img src="{% static 'img/hero.webp' %}" alt="Historia" />
              </a>

              <div class="px-4">
                <h4 class="font-medium text-lg xl:text-itemtitle2 text-black hover:text-primary dark:text-white mt-7.5 mb-3.5">
                  <a href="/historia">Historia</a>
                </h4>

                <p class="py-2">Cataluña fue gran pionera en materia aeronáutica. Desgraciadamente, la Guerra Civil y posterior dictadura, hicieron desaparecer casi cualquier rastro, tanto de la industria como de sus servicios.</p>

                <p class="py-2">Descubre su impresionante historia,  curiosidades y ayúdanos a recuperarlos.</p>
              </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top bg-white dark:bg-blacksection rounded-lg shadow-solid-8 p-4 pb-9">
              <a href="/actividades" class="block">
                <img src="{% static 'img/actividades.webp' %}" alt="Actividades" />
              </a>

              <div class="px-4">
                <h4 class="font-medium text-lg xl:text-itemtitle2 text-black hover:text-primary dark:text-white mt-7.5 mb-3.5">
                  <a href="/actividades">Actividades</a>
                </h4>
                <p class="py-2">Fomentar la aviación es despegar sueños, desarrollar tecnología, e impulsar la industria trabajando por un futuro aéreo más brillante. Crear oportunidades, red de pasión y progreso global. Mejorar la cultura por la seguridad, reducir el impacto en el medio, y acercar el transporte aéreo a todo el público en general.</p>
              </div>
            </div>

            <!-- Blog Item -->
            <div class="animate_top bg-white dark:bg-blacksection rounded-lg shadow-solid-8 p-4 pb-9">
              <a href="/servicios" class="block">
                <img src="{% static 'img/servicios.webp' %}" alt="Servicios" />
              </a>

              <div class="px-4">
                <h4 class="font-medium text-lg xl:text-itemtitle2 text-black hover:text-primary dark:text-white mt-7.5 mb-3.5">
                  <a href="/servicios">Servicios</a>
                </h4>

                <p class="py-2">Te ayudamos a realizar cualquier trámite con Aviación Civil, matriculación, compraventa, construcción, reparación o restauración de cualquier aeronave.</p>

                <p class="py-2">Compra una aeronave entre diferentes socios, y disfruta sin complicaciones.</p>
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </section>  

      <section>
        <div class="mx-auto max-w-c-1235 px-4 md:px-8 2xl:px-0 overflow-hidden">
          <div class="flex items-center gap-8 lg:gap-32.5">
            <div class="animate_left md:w-2/3" data-sr-id="56" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.8s cubic-bezier(0.5, 0, 0, 1) 0s;">
              <h4 class="text-black dark:text-white font-medium uppercase">Pequeña historia de...</h4>
              <h2 class="relative font-bold text-black dark:text-white text-3xl xl:text-hero mb-6">
                Josep  
                <span class="inline-block relative before:absolute before:bottom-2.5 before:left-0 before:w-full before:h-3 before:bg-titlebg2 dark:before:bg-titlebgdark before:-z-1">Canudas</span>
                y Busquets
              </h2>
              <p class="py-2">Nacido en Barcelona en 1898, ha sido uno de los principales propagadores de la aviación en Catalunya. Periodista deportivo y cofundador del Aeroclub de Cataluña en 1915, en 1917 obtuvo el primer título de piloto otorgado en Cataluña, en la Escuela Catalana de Aviación, de la que fue profesor y piloto jefe. En 1922 fundó la Peña del Aire y la sociedad Aeródromo Canudas, que promovieron el interés por los vuelos con pasajeros, y la Escuela de Barcelona para pilotos.</p>
              <p class="py-2">Fue el jefe de la primera línea aérea de España: Sevilla - Larraix ( 1921 ) y de línea de Andorra (Barcelona - La Seu d'Urgell), la primera de Cataluña (1932). En 1933 la Generalitat le nombra jefe de los servicios de aeronáutica. Durante la guerra civil fue piloto de enlace en el frente de Aragón y director de la Escuela de Aviación Militar de Barcelona. Se exilia en 1939, primero en Francia, después en América y finalmente en Suiza donde murió en junio de 1975.</p>
              <p class="py-2"><i>(créditos web www.josepcanudas.cat)</i></p>
              

              <a href="/historia" class="flex items-center gap-2.5 text-black dark:text-white mt-7.5">
                Aprendre més història
                <img class="dark:hidden" src="{% static 'img/icon-arrow-light.svg' %}" alt="Arrow">
                <img class="hidden dark:block" src="{% static 'img/icon-arrow-dark.svg' %}" alt="Arrow">
              </a>
            </div>
            <div class="animate_right hidden md:block md:w-1/3" data-sr-id="62" style="visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transition: opacity 2.8s cubic-bezier(0.5, 0, 0, 1) 0s, transform 2.8s cubic-bezier(0.5, 0, 0, 1) 0s;">
              <img src="{% static 'img/josep-canudas.jpg' %}" alt="Josep Canudas" class="w-full" />
            </div>
          </div>
        </div>
      </section>


<!--
<section class="pt-35 md:pt-30 xl:pt-36 pb-20 xl:pb-25 overflow-hidden">
    {{ page.body|richtext }}
</section>
-->

{% endblock content %}
