<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h2>New Contact Form Submission</h2>
    <p><strong>Name:</strong> {{ contact_entry.name }}</p>
    <p><strong>Email:</strong> {{ contact_entry.email }}</p>
    <p><strong>Wants Membership:</strong> {{ contact_entry.want_membership }}</p>
    <p><strong>Subscribe to Newsletter:</strong> {{ contact_entry.subscribe_newsletter }}</p>
    <p><strong>Message:</strong> {{ contact_entry.message }}</p>
</body>
</html>
