{% load form_filters %}

{% for field in attrs.form %}
    <div class="form-group">
        {% if field.field.widget.input_type == 'checkbox' %}
            {{ field.label_tag }}
        {% endif %}
        {{ field|add_class:"dark:bg-black border border-stroke dark:border-strokedark shadow-solid-11 dark:shadow-none rounded-full focus:outline-none focus:border-primary dark:focus:border-primary py-3 px-6" }}
        
        {% if field.errors %}
            <div class="errors">{{ field.errors }}</div>
        {% endif %}
    </div>
{% endfor %}
