{% load static wagtailcore_tags wagtailuserbar i18n %}
{% wagtail_site as current_site %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            {% block title %}
                {% trans page.title %}
                {% if page.seo_title %}{% trans page.seo_title %}{% else %}{% trans page.title %}{% endif %}
            {% endblock %}
            
            {% block head_title %}
                {# Allauth #}
            {% endblock head_title %}
            
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {% trans current_site.site_name %}{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}
        <meta name="description" content="{% trans page.search_description %}" />
        {% endif %}

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/canudas.css' %}">

        {% block extra_css %}
        {% endblock %}

        {% block extra_head %}
        {# Allauth #}
        {% endblock extra_head %}

        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body
     x-data="{ page: '{{ self.slug }}', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }"
     x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)));

         if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
             darkMode = true;
         } else {
             darkMode = false;
         }"
         
     :class="{'dark bg-black': darkMode === true}"
    >
    <!--<body class="{% block body_class %}{% endblock %}">-->

    {% wagtailuserbar %}
    <!-- ===== Bg Lines Start ===== -->
    <div class="fixed top-0 left-0 -z-10 flex h-full w-full items-center justify-around">
      <span class="w-[1px] h-full bg-stroke dark:bg-strokedark flex animate-line1"></span>
      <span class="w-[1px] h-full bg-stroke dark:bg-strokedark flex animate-line2"></span>
      <span class="w-[1px] h-full bg-stroke dark:bg-strokedark flex animate-line3"></span>
    </div>
    <!-- ===== Bg Lines End ===== -->

    {% include 'header.html' %}

    <main>
      {% if messages %}
      <div class="pt-24 lg:pt-28 xl:pt-32 -mb-28 lg:-mb-32 xl:-mb-36">
        <div class="mb-4 rounded-lg bg-primary-100 px-32 py-5 text-base text-primary-600" role="alert">
          <strong>{% trans "Messages:" %}</strong>
          <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

      {% if '/accounts/' in request.path or '/contact/' in request.path %}
      <section class="pt-35 lg:pt-45 xl:pt-50 pb-20 lg:pb-25 xl:pb-30">
        <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
          <div class="flex flex-col-reverse lg:flex-row gap-7.5 xl:gap-12.5">

            <!-- Side panel -->
            <div class="md:w-1/2 lg:w-[32%]">
              <div class="animate_top rounded-md shadow-solid-13 bg-white dark:bg-blacksection border border-stroke dark:border-strokedark p-9">

                {% block side %}
                <h4 class="font-semibold text-2xl text-black dark:text-white mb-7.5">{% trans 'Account' %}</h4>

                <div>
                  <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'account_email' %}" class="inline-block hover:text-primary mb-3">{% trans 'Account' %}</a></li>
                    <li><a href="{% url 'account_change_password' %}" class="inline-block hover:text-primary mb-3">{% trans 'Change password' %}</a></li>
                        {% if user.is_staff %}
                        <li><a href="{% url 'wagtailadmin_login' %}" class="inline-block hover:text-primary mb-3">{% trans 'Admin' %}</a></li>
                        {% endif %}
                    <li><a href="{% url 'account_logout' %}" class="inline-block hover:text-primary mb-3">{% trans 'Logout' %}</a></li>
                    {% else %}
                    <li><a href="{% url 'account_signup' %}" class="inline-block hover:text-primary mb-3">{% trans 'Become a member' %}</a></li>
                    <li><a href="{% url 'account_login' %}" class="inline-block hover:text-primary mb-3">{% trans 'Login' %}</a></li>
                    <li><a href="{% url 'account_reset_password' %}" class="inline-block hover:text-primary mb-3">{% trans 'Reset password' %}</a></li>
                    {% endif %}
                  </ul>
                </div>
                {% endblock %}

              </div>
            </div>
            <!-- END: Side panel -->

            <!-- Main article -->
            <div class="lg:w-2/3">
              <div class="animate_top rounded-md shadow-solid-13 bg-white dark:bg-blacksection border border-stroke dark:border-strokedark p-7.5 md:p-10 space-y-3"> 
      {% endif %}

      {% block content %}{% endblock %}

      {% if '/accounts/' in request.path %}
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    </main>

    {% include 'footer.html' %}

    <!-- ====== Back To Top Start ===== -->
    <button
  class="hidden items-center justify-center w-10 h-10 rounded-[4px] shadow-solid-5 bg-primary hover:bg-primaryho fixed bottom-8 right-8 z-999"
  @click="window.scrollTo({top: 0, behavior: 'smooth'})"
  @scroll.window="scrollTop = (window.pageYOffset > 50) ? true : false"
  :class="{ '!flex' : scrollTop }"
>
  <svg class="fill-white w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
    <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" />
  </svg>
</button>

    <!-- ====== Back To Top End ===== -->

    {# allauth #}
    {% block extra_body %}
    {% endblock extra_body %}

    {# Global javascript #}
    <script defer src="{% static 'js/canudas.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>

    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  </body>
</html>
