{% load static wagtailcore_tags wagtailuserbar i18n %}
{% wagtail_site as current_site %}

<!-- ===== Footer Start ===== -->
    <footer class="bg-white dark:bg-blacksection border-t border-stroke dark:border-strokedark">
  <div class="mx-auto max-w-c-1390 px-4 md:px-8 2xl:px-0">
    <!-- Footer Top -->
    <div class="py-20 lg:py-25">
      <div class="flex flex-wrap lg:justify-between gap-8 lg:gap-0">
        <div class="animate_top w-1/2 lg:w-1/4">
          <a href="index.html">
            <img src="{% static 'img/canudas-logo.webp' %}" alt="Logo" class="dark:hidden" />
            <img src="{% static 'img/canudas-logo.webp' %}" alt="Logo" class="hidden dark:block" />
          </a>

          <p class="mt-5 mb-10">{% trans 'Aeroclub Canudas, aeronautical association' %}</p>

          <p class="uppercase tracking-[5px] text-sectiontitle mb-1.5">{% trans 'contact' %}</p>
          <a href="mailto:hola@aeroclubcanudas.cat" class="text-black dark:text-white font-medium text-itemtitle">hola@aeroclubcanudas.cat</a>
        </div>

        <div class="w-full lg:w-2/3 xl:w-7/12 flex flex-col md:flex-row md:justify-between gap-8 md:gap-0">
          <div class="animate_top">
            <h4 class="font-medium text-black dark:text-white text-itemtitle2 mb-9">{% trans 'Quick Links' %}</h4>

            <ul>
              <li><a href="/" class="inline-block hover:text-primary mb-3">Inicio</a></li>
              <li><a href="/historia/" class="inline-block hover:text-primary mb-3">Historia</a></li>
              <li><a href="/actividades/" class="inline-block hover:text-primary mb-3">Actividades</a></li>
              <li><a href="/servicios/" class="inline-block hover:text-primary mb-3">Servicios</a></li>
            </ul>
          </div>

          <div class="animate_top">
            <h4 class="font-medium text-black dark:text-white text-itemtitle2 mb-9">{% trans 'Interact' %}</h4>

            <ul>
              <li><a href="/informate/" class="inline-block hover:text-primary mb-3">Informate</a></li>
              {% if user.is_authenticated %}
              <li><a href="{% url 'account_email' %}" class="inline-block hover:text-primary mb-3">Account</a></li>
                  {% if user.is_staff %}
                  <li><a href="{% url 'wagtailadmin_login' %}" class="inline-block hover:text-primary mb-3">Admin</a></li>
                  {% endif %}
              <li><a href="{% url 'account_logout' %}" class="inline-block hover:text-primary mb-3">Logout</a></li>
              {% else %}
              <li><a href="{% url 'account_signup' %}" class="inline-block hover:text-primary mb-3">Hazte socio</a></li>
              <li><a href="{% url 'account_login' %}" class="inline-block hover:text-primary mb-3">Inici de sessió</a></li>
              {% endif %}
            </ul>
          </div>

          <div class="animate_top">
            <h4 class="font-medium text-black dark:text-white text-itemtitle2 mb-9">{% trans 'Newsletter' %}</h4>
            <p class="mb-4 w-[90%]">{% trans 'Subscribe to receive future updates' %}</p>

<form action="https://aeroclubcanudas.us21.list-manage.com/subscribe/post?u=1900bb9b4e592d65131ba33c2&amp;id=be6deb715c&amp;f_id=00e5f0e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
    <div class="relative">
        <!-- Email Input -->
        <input
            type="email"
            name="EMAIL"
            placeholder="{% trans 'Email address' %}"
            class="w-full dark:bg-black border border-stroke dark:border-strokedark shadow-solid-11 dark:shadow-none rounded-full focus:outline-none focus:border-primary dark:focus:border-primary py-3 px-6"
            required=""
        />
        <!-- Submit Button -->
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="absolute right-0 top-0 p-4">
                  <svg class="fill-[#757693] dark:fill-white hover:fill-primary" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_48_1487)">
                      <path
                        d="M3.1175 1.17318L18.5025 9.63484C18.5678 9.67081 18.6223 9.72365 18.6602 9.78786C18.6982 9.85206 18.7182 9.92527 18.7182 9.99984C18.7182 10.0744 18.6982 10.1476 18.6602 10.2118C18.6223 10.276 18.5678 10.3289 18.5025 10.3648L3.1175 18.8265C3.05406 18.8614 2.98262 18.8792 2.91023 18.8781C2.83783 18.8769 2.76698 18.857 2.70465 18.8201C2.64232 18.7833 2.59066 18.7308 2.55478 18.6679C2.51889 18.6051 2.50001 18.5339 2.5 18.4615V1.53818C2.50001 1.46577 2.51889 1.39462 2.55478 1.33174C2.59066 1.26885 2.64232 1.2164 2.70465 1.17956C2.76698 1.14272 2.83783 1.12275 2.91023 1.12163C2.98262 1.12051 3.05406 1.13828 3.1175 1.17318ZM4.16667 10.8332V16.3473L15.7083 9.99984L4.16667 3.65234V9.16651H8.33333V10.8332H4.16667Z"
                        fill=""
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_48_1487">
                        <rect width="20" height="20" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
        </button>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <!-- Anti-spam Field -->
        <input type="text" name="b_1900bb9b4e592d65131ba33c2_be6deb715c" tabindex="-1" value="">
    </div>
</form>

          </div>
        </div>
      </div>
    </div>
    <!-- Footer Top -->

    <!-- Footer Bottom -->
    <div class="border-t border-stroke dark:border-strokedark flex flex-wrap flex-col lg:flex-row items-center justify-center lg:justify-between gap-5 lg:gap-0 py-7">
      <!--
      <div class="animate_top">
        <ul class="flex items-center gap-8">
          <li><a href="#" class="hover:text-primary">English</a></li>
          <li><a href="#" class="hover:text-primary">Privacy Policy</a></li>
          <li><a href="#" class="hover:text-primary">Support</a></li>
        </ul>
      </div>
      -->

      <div>
          <p>&copy; 2023 {% trans 'Aeroclub Canudas' %} - <a href="https://gitlab.com/canudas/canudas">{% trans 'Open source code, published under AGPLv3' %}</a></p>
      </div>

      <div class="animate_top">
        <ul class="flex items-center gap-5">
          <li>
            <a href="https://x.com/aeroclubcanudas" target="_new">
              <svg class="fill-[#D1D8E0] hover:fill-primary transition-all duration-300" width="20" height="20" viewBox="0 0 300 300.251" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M178.57 127.15 290.27 0h-26.46l-97.03 110.38L89.34 0H0l117.13 166.93L0 300.25h26.46l102.4-116.59 81.8 116.59h89.34M36.01 19.54H76.66l187.13 262.13h-40.66"/>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/aeroclubcanudas" target="_new">
              <svg class="fill-[#D1D8E0] hover:fill-primary transition-all duration-300" width="24" height="24" viewBox="0 0 500 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M250,193.27A56.73,56.73,0,1,0,306.73,250,56.8,56.8,0,0,0,250,193.27Z"/>
                <path d="M316.74,105.49H183.26a77.86,77.86,0,0,0-77.77,77.77V316.74a77.86,77.86,0,0,0,77.77,77.77H316.74a77.86,77.86,0,0,0,77.77-77.77V183.26A77.86,77.86,0,0,0,316.74,105.49ZM250,336.7A86.7,86.7,0,1,1,336.7,250,86.8,86.8,0,0,1,250,336.7Zm95.27-160.26A21.41,21.41,0,1,1,366.68,155,21.41,21.41,0,0,1,345.27,176.45Z"/>
                <path d="M484.85,124.74a144.17,144.17,0,0,0-2.32-25.29c-1.94-10.19-4.67-20.12-9.55-29.33A101.84,101.84,0,0,0,453.39,44a97.14,97.14,0,0,0-42.76-24.4c-14.83-4-30-4.84-45.21-4.82a.46.46,0,0,1-.09-.23H134.59c0,.08,0,.16,0,.23-8.65.16-17.32.09-25.92,1.16A123.46,123.46,0,0,0,81,22.14,97.48,97.48,0,0,0,44.25,46.26,97.15,97.15,0,0,0,19.68,89.17c-3.94,14.72-4.8,29.73-4.82,44.85L14.7,365.69v0c.28,10.45.37,21,2.13,31.36,1.87,11,4.54,21.71,9.64,31.69A101.36,101.36,0,0,0,54.77,463a91.91,91.91,0,0,0,28.31,15.35c15.12,4.88,30.72,6.75,46.55,6.84,9.88.06,19.74.31,29.62.27,71.74-.3,143.49.52,215.23-.44a169.32,169.32,0,0,0,28.23-3A95.61,95.61,0,0,0,450,459c15.78-14.08,26.43-31.3,31.24-52.09,3.15-13.59,3.93-27.38,4.07-41.21v-2.76C485.3,361.86,484.89,127.84,484.85,124.74Zm-60.38,192A107.87,107.87,0,0,1,316.74,424.48H183.26A107.87,107.87,0,0,1,75.52,316.74V183.26A107.87,107.87,0,0,1,183.26,75.52H316.74A107.87,107.87,0,0,1,424.48,183.26Z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Footer Bottom -->
  </div>
</footer>

<!-- ===== Footer End ===== -->

